<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/bailv.css">
     <link rel="shorttcut icon" type="images/jpeg" href="../images/images1/icon.jpg">
    <script src="../js/underscore/underscore.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="l-top">
        <div class="container clearfix">
            <div class="l-top-left">
                <span>您好，欢迎使用LY.com访问同程！</span>
               <a href="login.html" class="login">登录</a>
                <a href="register.html" class="reg">注册</a>
                <a href="#" style="margin: 2px 0 0 8px;height: 22px;"><img src="../images/images1/dnRKSH.gif" alt=""></a>
            </div>
            <ul class="l-top-right">
                <li>
                    <a href="#">我的同程<span></span></a>
                    <div class="l-hide l-div1">
                        <div class="l-hello">
                            <span>你好,<a href="">请登录</a></span>
                        </div>
                        <ul class="l-list clearfix">
                            <li><a href="#">我的订单</a></li>
                            <li><a href="#">我的信息</a></li>
                            <li><a href="#">我的收藏</a></li>
                            <li><a href="#">会员中心</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="l-phone"></i>手机同程<span></span></a>
                    <div class="l-hide l-div2">
                        <a href="#"><img src="../images/images1/Mb5JnI.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <a href="#">微信<span></span></a>
                    <div class="l-hide l-div3">
                        <a href="#"></a>
                    </div>
                </li>
                <li>
                    <a href="#">电话<span></span></a>
                    <div class="l-hide l-div4">
                        <p>国内电话:4007-777-777</p>
                        <p>海外电话:+86-512-8220-9000</p>
                    </div>
                </li>
                <li>
                    <a href="#">客户服务<span></span></a>
                    <ul class="l-hide l-div5">
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">在线客服</a></li>
                        <li><a href="#">人工申诉</a></li>
                        <li><a href="#">包团定制</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- logo -->
    <div class="l-logo container clearfix">
        <div class="l-logo-left">
            <a href="#">
                <img src="../images/images1/gQ4fcp.png" alt="">
            </a>
        </div>
        <div class="l-logo-right">
            <a href="#"><img src="../images/images1/hTBLcH.png" alt=""></a>
        </div>
    </div>
    <!-- nav -->
    <div class="l-nav">
        <ul class="l-nav-list container clearfix">
            <li><a href="../homePage.html">首页</a></li>
            <li><a href="jiudian.html">酒店</a></li>
            <li><a href="index.html">机票</a></li>
            
            <li><a href="busTicket.html">汽车票</a></li>
            
            <li><a href="travelAround.html">周边游</a><span class="l-hot">Hot</span></li>
            
            <li><a href="chujing.html">出境游</a></li>
            <li><a href="youlun.html">游轮</a></li>
           
            <li><a href="DZLY.html">定制旅游</a></li>
            <li><a href="bank.html">金融</a></li>
            
            <li class="active"><a href="bailv.html">百旅会</a><span class="l-hot">中老年</span></li>
        </ul>
    </div>
    <!-- 主题内容 -->
    <div class="container1">
        <div class="top">
            <div class="top1"></div>
            <div class="top2"></div>
            <div class="top3">
                <a class="joinBtn" href="#"></a>
                <label>
                    <a class="showWhat" href="#">我的白绿会</a>
                    <a href="#">会员订单</a>
                    <a href="#">什么事白绿会</a>
                </label>
            </div>
        </div>
        <div class="chunwanBox">
            <div class="chunwan clear">
                <img class="cw_left" src="../images/bailvimg/chunwan.jpg" alt="">
                <div class="cw_right clear">
                    <h3>精彩视频</h3>
                    <div class="videoBox clear">
                        <div class="video_in">
                            <div class="play"></div>
                            <div class="mask"></div>
                            <img class="videoimg" src="../images/bailvimg/icon1.jpg" alt="">
                            <div class="video_wrap">
                                <video src="http://www.runoob.com/try/demo_source/movie.mp4" preload controls></video>
                            </div>
                        </div>
                        <div class="videolistBox">
                            <div style="position:relative">
                                <div id="videoList" class="msp_container">
                                    <ul>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                        <li>旅游卫视-首届中国中老年旅游春晚深圳海选</li>
                                    </ul>
                                </div>
                                <div class="ins_scroller">
                                    <div id="ins_scroll_bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>精彩图片</h3>
                    <div class="ulbox">
                        <span class="toLeft"><<</span>
                        <span class="toRight">>></span>
                        <ul class="imgList clear" id="ullList">
                            <script type="text/html" id="aa">
                                ##for(var i = 0 ;i
                                <list.length;i++){## <li>
                                    <a href="#">
                                        <img src="{{list[i].img}}" alt="">
                                        <p class="info">{{list[i].name}}</p>
                                    </a>
                                    </li>
                                    ##}##
                            </script>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentBox">
            <div class="content ">
                <div class="yearTrip clear">
                    <img src="../images/bailvimg/yearLeft.jpg" alt="">
                    <div class="listContent">
                        <div class="codeContent">
                            <h1>精彩故事</h1>
                            <div class="codeSlideWrapper">
                                <div class="codeSlideBox">
                                    <span></span>
                                    <ul class="codeList clear" id="codeList">
                                        <script type="text/html" id="bb">
                                            ##for(var i = 0;i
                                            <list.length;i++){## <li>
                                                <a href="#">
                                                    <div class="divmask">
                                                        <img class="gg" src="{{list[i].img}}" alt="">
                                                        <div class="zhezhao"><img src="{{list[i].maskimg}}"></div>
                                                    </div>
                                                    <p class="gg-text">{{list[i].name}}</p>
                                                </a>
                                                </li>
                                                ##}##
                                        </script>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="codeContent">
                            <h1>敬一丹为你讲故事</h1>
                            <div class="codeSlideWrapper">
                                <div class="codeSlideBox">
                                    <span></span>
                                    <ul class="codeList clear" id="codeList1">
                                        <script type="text/html" id="cc">
                                            ##for(var i = 0;i
                                            <list.length;i++){## <li>
                                                <a href="#">
                                                    <img class="gg" src="{{list[i].img}}" alt="">
                                                    <p class="gg-text">{{list[i].name}}</p>
                                                    <div class="msk"></div>
                                                </a>
                                                </li>
                                                ##}##
                                        </script>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="audioContent"></div>
                    </div>
                </div>
                <div class="part clear">
                    <p class="part_flag">
                        <span>百旅活动集锦</span>
                    </p>
                    <div class="part_left">
                        <h1 class="part_title">精彩活动</h1>
                        <ul class="activity_list clear" id="active">
                            <script type="text/html" id="dd">
                                ##for(var i = 0;i
                                <list.length;i++){## <li>
                                    <div class="border">
                                        <img src="{{list[i].img}}" alt="">
                                    </div>
                                    <p class="activity_tit">
                                        <span class="icon_adress">{{list[i].ad}}<i></i></span>
                                        <span>{{list[i].name}}</span>
                                    </p>
                                    </li>
                                    ##}##
                            </script>
                        </ul>
                    </div>
                    <div class="part_right">
                        <h1 class="part_title">看看大家怎么说</h1>
                        <div class="box" id="box">
                            <ul class="strmove" id="ul">
                                <script type="text/html" id="ff">
                                    ##for(var i = 0;i
                                    <list.length;i++){## <li>
                                        <h4 class="clear"><img src="{{list[i].titleimg}}" alt="">{{list[i].address}}</h4>
                                        <p>{{list[i].neirong}}</p>
                                        </li>
                                        ##}##
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="part part1 clear ">
                    <p class="part_flag">
                        <span>百旅会员风采</span>
                    </p>
                    <div class="vipStyle">
                        <div class="superVip">
                            <img src="../images/bailvimg/vipHead_1.png" alt="">
                            <h1>代言人:刘成鑫</h1>
                            <p>心愿：世界这么大我想去看看</p>
                        </div>
                        <ul class="vipList clear" id="vipList">
                            <script type="text/html" id="ee">
                                ##for(var i = 0;i
                                <list.length;i++){## <li>
                                    <img src="{{list[i].img}}" alt="">
                                    <h1>{{list[i].tit}}</h1>
                                    <p>{{list[i].wish}}</p>
                                    </li>
                                    ##}##
                            </script>
                        </ul>
                    </div>
                </div>
                <div class="zixun part clear">
                    <div class="icon_service"></div>
                    <div class="qa_main">
                        <p>
                            <strong>Q</strong> 加入百旅会是否会签合同？
                        </p>
                        <p>
                            <strong>A</strong> 入会需签《百旅会入会协议》，并且根据实际充值 金额开具发票。
                        </p>
                        <div class="qa_more"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="y-end">
        <ul class="footer container clearfix">
            <li>
                <div class="clearfix">
                    <div class="l-idea"></div>
                    <span class="l-idea-desc">意见反馈</span>
                </div>
                <div class="clearfix l-tel24">
                    <div></div>
                    <p>24小时服务热线</p>
                    <p>4007-777-777</p>
                </div>
            </li>
            <!-- 关于同程 -->
            <li>
                <ul class="l-tcAboat">
                    <li>
                        <h2>关于同程</h2>
                    </li>
                    <li><a href="#">同程简介</a></li>
                    <li><a href="#">可信网站</a></li>
                    <li><a href="#">法律声明</a></li>
                    <li><a href="#">网站地图</a></li>
                </ul>
            </li>
            <li>
                <ul class="l-tcAboat">
                    <li>
                        <h2>加盟合作</h2>
                    </li>
                    <li><a href="#">商务合作</a></li>
                    <li><a href="#">网站加盟</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">业务资质</a></li>
                </ul>
            </li>
            <li>
                <ul class="l-tcAboat">
                    <li>
                        <h2>联系我们</h2>
                    </li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">投诉建议</a></li>
                    <li><a href="#">诚聘英才</a></li>
                </ul>
            </li>
            <li>
                <ul class="l-tcAboat">
                    <li>
                        <h2>同程旗下网站</h2>
                    </li>
                    <li>
                        <a href="#" class="tcWebCn"></a>
                    </li>
                    <li>
                        <a href="#" class="tcWebCom"></a>
                    </li>
                    <li>
                        <a href="#" class="tcWebNet"></a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="l-tcAboat">
                    <li>
                        <h2>同程旅游app</h2>
                    </li>
                    <li>
                        <a href="#"><img src="../images/images1/QPSAEB.png" alt=""></a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr class="container hr">
        <ul class="footer-bottom container">
            <li>服务热线：<span>4007-777-777</span></li>
            <li>转1：已有订单处理</li>
            <li>
                转2：预订 机票转<span>1</span>景点/玩乐/电影票转<span>2</span>酒店转<span>3</span>周边游转<span>4</span> 周边游转
                <span>5</span>周边游转<span>6</span></li>
            <li> 转3：预订 机票转<span>1</span>景点/玩乐/电影票转<span>2</span>酒店转<span>3</span>周边游转<span>4</span></li>
        </ul>
    </footer>
    <div class="l-outer">
        <ul class="l-friendAnchor container">
            <li>
                <h2>友情链接:</h2></li>
            <li><a href="#">酒店门票预订</a></li>
            <li><a href="#">国际机票预订</a></li>
            <li><a href="#">国际酒店预订</a></li>
            <li><a href="#">格林豪泰连锁酒店</a></li>
        </ul>
    </div>
    <script src="../js/jquery/dist/jquery.min.js"></script>
    <script src="../js/bailv.js"></script>
</body>

</html>
</body>

</html>
