<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	 <link rel="shorttcut icon" type="images/jpeg" href="../images/images1/icon.jpg">
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="login_header">
		<div class="z_logo">
			<a href="javasrcipt:;">
				<img src="../images/Loginimages/logo.png" alt="">
			</a>
			<div></div>
		</div>
	</div>
	<div class="z-content clearfix">
		<div class="z_left_content">
			<a href="javasrcipt:;" class="newclub_box">
				<img src="../images/Loginimages/rq.jpg" alt="">
			</a>
		</div>
		<div class="z_right_content">
			<div class="common_box">
				<ul class="login_tab clearfix">
					<li class="comm_login">普通登录</li>
					<li class="mobilepsd_login nor">手机动态密码登录</li>
				</ul>
				<div class="login_wrapper">
					<div class="sign_ct">
						<input type="hidden" name="">
						<form action id="login_form_pop">
							<input type="checkbox" name="remember" value="30" id="rem_it_1w_pop" style="display: none">
							<span class="warnImgWrap" id="warnTip" style="display: none;">您输入的用户名和密码不匹配，请重新输入</span>
							<span class="warnImgWrap" id="phPswTip1" style="visibility: hidden;"></span>
							<div class="comm_cont">
								<div class="login_name" style="border: 1px solid rgb(221,221,221)">
									<i></i>
									<input type="text" maxlength="30" name="name" id="account_pop" placeholder="手机号/邮箱" style="color: rgb(153,153,153)">
								</div>
								<div class="login_password">
									<i></i>
									<input type="password" maxlength="20" name="pass" id="actpwd_pop">
									<label for="actpwd_pop">输入密码</label>
									<p id="cCapl" style="display:none;">
										<em></em>
										<span>大写锁定已打开</span>
									</p>
								</div>
								<div class="auto_login clearfix">
									<span id="auTipBox" class="auhover">
										<label>三十天内自动登录</label>
									</span>
									<a href="javasrcipt:;">忘记密码？</a>
								</div>
								<a href="javasrcipt:;" class="btn_sign_in" id="sign_in_btn_pop">登&nbsp;录</a>
								<div class="register temhight clearfix">
									<a href="javasrcipt:;">立即注册</a>
									<span>，享受积分换礼、返现等会员优惠！</span>
								</div>
							</div>
						</form>
					</div>
					<div class="quick_signin tem_class clearfix">
						<div class="z-view">
							<div class="qs_icons">
								<a href="javasrcipt:;" class="sp_qq">QQ</a>
								<a href="javasrcipt:;" class="sp_xinl">新浪</a>
								<a href="javasrcipt:;" class="sp_weix">微信</a>
							</div>
							<div class="QRlogin_icon"></div>	
						</div>
					</div>
				</div>
			</div>
			<div class="wx_box"></div>
			<div class="switch_corner">
				<div class="switch_corner_qr"></div>
				<div class="switch_corner_pc none" style="display:none"></div>
			</div>
		</div>
	</div>
	<footer style="text-align: center;" class="footer">
		Copyright © 2002-2017 版权所有 同程网络科技股份有限公司 
		<a href="javasrcipt:;" class="icp_num">苏ICP证B2-20100204</a>
	</footer>
	<script src="../js/jquery/dist/jquery.min.js"></script>
	<script src="../js/login.js"></script>
</body>
</html>