<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>周边游_自助游</title>
     <link rel="shorttcut icon" type="images/jpeg" href="../images/images1/icon.jpg">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/travelAround.css">
</head>
<body>
 <!-- 头部 -->
    <div class="l-top">
        <div class="container clearfix">
            <div class="l-top-left">
                <span>您好，欢迎使用LY.com访问同程！</span>
                <a href="login.html" class="login">登录</a>
                <a href="register.html" class="reg">注册</a>
                <a href="#" style="margin: 2px 0 0 8px;height: 22px;"><img src="../images/images1/dnRKSH.gif" alt=""></a>
            </div>
            <ul class="l-top-right">
                <li>
                    <a href="#">我的同程<span></span></a>
                    <div class="l-hide l-div1">
                        <div class="l-hello">
                            <span>你好,<a href="">请登录</a></span>
                        </div>
                        <ul class="l-list clearfix">
                            <li><a href="#">我的订单</a></li>
                            <li><a href="#">我的信息</a></li>
                            <li><a href="#">我的收藏</a></li>
                            <li><a href="#">会员中心</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="l-phone"></i>手机同程<span></span></a>
                    <div class="l-hide l-div2">
                        <a href="#"><img src="../images/images1/Mb5JnI.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <a href="#">微信<span></span></a>
                    <div class="l-hide l-div3">
                        <a href="#"></a>
                    </div>
                </li>
                <li>
                    <a href="#">电话<span></span></a>
                    <div class="l-hide l-div4">
                        <p>国内电话:4007-777-777</p>
                        <p>海外电话:+86-512-8220-9000</p>
                    </div>
                </li>
                <li>
                    <a href="#">客户服务<span></span></a>
                    <ul class="l-hide l-div5">
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">在线客服</a></li>
                        <li><a href="#">人工申诉</a></li>
                        <li><a href="#">包团定制</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- logo -->
    <div class="l-logo container clearfix">
        <div class="l-logo-left">
            <a href="#">
                <img src="../images/images1/gQ4fcp.png" alt="">
            </a>
        </div>
        <div class="l-logo-right">
            <a href="#"><img src="../images/images1/hTBLcH.png" alt=""></a>
        </div>
    </div>
    <!-- nav -->
    <div class="l-nav">
        <ul class="l-nav-list container clearfix">
             <li><a href="../homePage.html">首页</a></li>
            <li><a href="jiudian.html">酒店</a></li>
            <li><a href="index.html">机票</a></li>
            
            <li><a href="busTicket.html">汽车票</a></li>
            
            <li><a href="travelAround.html">周边游</a><span class="l-hot">Hot</span></li>
            
            <li class="active"><a href="chujing.html">出境游</a></li>
            <li><a href="youlun.html">游轮</a></li>
           
            <li><a href="DZLY.html">定制旅游</a></li>
            <li><a href="bank.html">金融</a></li>
            
            <li><a href="bailv.html">百旅会</a><span class="l-hot">中老年</span></li>
        </ul>
    </div>
<!-- 头部结束 -->
<!-- Main Start -->
	<div class="x-travelAround-main">
        <!-- 搜索框开始 -->
        <div class="x-ta-search" id="x-ta-search">
            <div class="x-ta-searchcontent clearfix">
                <img src="../images/images7/Zbj8FG.gif" alt="春节抢先GO">
                <div class="x-ta-sinput">
                    <p class="x-ta-sileft clearfix" id="henan"><em>我在</em><strong >河南</strong><span ></span></p>
                    <p class="x-ta-simiddel">
                    <input id="x-ta-input"  type="text" name="" value="" placeholder="河南温泉"></p>
                    <p class="x-ta-siright"><a href="#" title="">搜 索</a></p>
                    <ul class="x-ta-citymenu" id="x-ta-citymenu">
                        <li><a href="#" title="">南京</a></li>
                        <li><a href="#" title="">苏州</a></li>
                        <li><a href="#" title="">常州</a></li>
                        <li><a href="#" title="">无锡</a></li>
                        <li><a href="#" title="">扬州</a></li>
                        <li><a href="#" title="">泰州</a></li>
                        <li><a href="#" title="">上海</a></li>
                        <li><a href="#" title="">北京</a></li>
                        <li><a href="#" title="">广州</a></li>
                        <li><a href="#" title="">深圳</a></li>
                        <li><a href="#" title="">杭州</a></li>
                        <li><a href="#" title="">宁波</a></li>
                        <li><a href="#" title="">成都</a></li>
                        <li><a href="#" title="">珠海</a></li>
                        <li><a href="#" title="">厦门</a></li>
                        <li><a href="#" title="">三亚</a></li>
                        <li><a href="#" title="">珠海</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 搜索框结束 -->
        <div class="x-travelAround-content">
            <!-- Banner One Start -->
            <div class="x-ta-bannerone clearfix">
                <div class="x-ta-boleft">
                    <ul class="x-ta-boleftul" id="x-ta-boleftul">
                        <li class="x-ta-bolmenu clearfix">
                            <p class="x-ta-bonemimg x-ta-bonemimg1"></p>
                            <div class="x-ta-bonemsg">
                                <p class="x-ta-bonemtitle">游玩天数</p>
                                <p class="x-ta-bonemdesc"><a href="#" title="">2天1晚</a><a href="#" title="">&nbsp;3天2晚</a><a href="#" title="">&nbsp;4天3晚</a></p>
                            </div>
                        </li>
                        <li class="x-ta-bolmenu x-ta-menubutton clearfix">
                         <p class="x-ta-bonembutton"></p>
                            <p class="x-ta-bonemimg x-ta-bonemimg2"></p>
                            <div class="x-ta-bonemsg">
                                <p class="x-ta-bonemtitle">特色玩法</p>
                                <p class="x-ta-bonemdesc "><a class="x-ta-active" href="#" title="">暖冬温泉</a><a class="x-ta-active" href="#" title="">&nbsp;春节抢先GO</a></p>
                            </div>
                        </li>
                        <li class="x-ta-bolmenu x-ta-menubutton clearfix">
                            <p class="x-ta-bonembutton"></p>
                            <p class="x-ta-bonemimg x-ta-bonemimg3"></p>
                            <div class="x-ta-bonemsg">
                                <p class="x-ta-bonemtitle">热门景点</p>
                                <p class="x-ta-bonemdesc "><a href="#" title="">鄢陵花都温泉</a><a href="#" title="">&nbsp;莲花温泉水城</a></p>
                            </div>
                        </li>
                        <li class="x-ta-bolmenu x-ta-menubutton clearfix">
                            <p class="x-ta-bonembutton"></p>
                            <p class="x-ta-bonemimg x-ta-bonemimg4"></p>
                            <div class="x-ta-bonemsg">
                                <p class="x-ta-bonemtitle">热门目的地</p>
                                <p class="x-ta-bonemdesc"><a href="#" title=""></a><a href="#" title=""> </a><a href="#" title=""> </a></p>
                            </div>
                        </li>
                    </ul>
                    <div class="x-ta-hideguid clearfix" id="x-ta-hideguid1">
                        <dl class="x-ta-hideguidleft clearfix">
                            <dt class="x-ta-hlTitle active8">主题乐园</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>苏州乐园</span>
                                <span class="active7">蒙特利亲子乐园</span>
                                <span>苏州摩天轮</span>
                                <span>烂苹果乐园</span>
                                <span>上海迪士尼</span>
                                <span>上海欢乐谷</span>
                                <span class="active7"> 淹城野生动物园</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">游山玩水</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>天平山</span>
                                <span>千岛湖</span>
                                <span>莫干山</span>
                                <span class="active7">虞山</span>
                                <span>花果山</span>
                                <span>天目湖</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">古镇</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>周庄</span>
                                <span class="active7">同里</span>
                                <span>甪直</span>
                                <span>木渎</span>
                                <span class="active7">拈花湾</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">苏州园林</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>拙政园</span>
                                <span class="active7">虎丘</span>
                                <span>狮子林</span>
                                <span>留园</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">3天2晚</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">无锡</span>
                                <span>南京</span>
                                <span>常州</span>
                                <span>扬州</span>
                                <span class="active7">连云港</span>
                            </dd>
                        </dl>
                        <dl class="x-ta-hideguidright clearfix">
                            <dt class="x-ta-hlTitle active8">山水</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>常熟尚湖</span>
                                <span>张公洞</span>
                                <span>常州天目湖</span>
                                <span class="active7">扬州瘦西湖</span>
                                <span>连岛</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">温泉</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>苏州天颐温泉</span>
                                <span>四季悦温泉</span>
                                <span class="active7">颐舍温泉</span>
                                <span>恐龙谷温泉</span>
                                <span>老子山温泉</span>
                                <span>天目湖御水温泉</span>
                            </dd>
                            <dt class="x-ta-hlTitle active8">祈福</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">寒山寺</span>
                                <span >重元寺</span>
                                <span>苏州大如意圣境</span>
                                <span>牛首山</span>
                                <span class="active7">九华山</span>
                                <span class="active7">普陀山</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="x-ta-hideguid clearfix" id="x-ta-hideguid2">
                        <dl class="x-ta-hideguidleft clearfix">
                            <dt class="x-ta-hlTitle active9">苏州</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>周庄</span>
                                <span class="active7">苏州乐园</span>
                                <span>同里</span>
                                <span>尚湖风景区</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">上海</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">上海迪士尼</span>
                                <span>上海欢乐谷</span>
                                <span>上海野生动物园</span>
                                <span >虞山</span>
                                <span>花果山</span>
                                <span>天目湖</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">无锡</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>灵山大佛</span>
                                <span class="active7">宜兴竹海</span>
                                <span>拈花湾小镇</span>
                                <span>樱花温泉</span>
                                <span class="active7">鼋头渚</span>
                                <span class="active7">三国水浒城</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">常州</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>天目湖</span>
                                <span class="active7">中华恐龙园</span>
                                <span>淹城野生动物园</span>
                                <span>春秋乐园</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">南京</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">明孝陵</span>
                                <span>汤山颐尚温泉</span>
                                <span>总统府</span>
                                <span>银杏湖主题乐园</span>
                            </dd>
                        </dl>
                        <dl class="x-ta-hideguidright clearfix">
                            <dt class="x-ta-hlTitle active9">山水</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>常熟尚湖</span>
                                <span>张公洞</span>
                                <span>常州天目湖</span>
                                <span class="active7">扬州瘦西湖</span>
                                <span>连岛</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">温泉</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>苏州天颐温泉</span>
                                <span>四季悦温泉</span>
                                <span class="active7">颐舍温泉</span>
                                <span>恐龙谷温泉</span>
                                <span>老子山温泉</span>
                                <span>天目湖御水温泉</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">祈福</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">寒山寺</span>
                                <span >重元寺</span>
                                <span>苏州大如意圣境</span>
                                <span>牛首山</span>
                                <span class="active7">九华山</span>
                                <span class="active7">普陀山</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="x-ta-hideguid3 clearfix" id="x-ta-hideguid3">
                        <dl class="x-ta-hideguid3left clearfix">
                            <dt class="x-ta-hlTitle">c</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>常州</span>
                            </dd>
                            <dt class="x-ta-hlTitle">l</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">连云港</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">s</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>苏州</span>
                                <span class="active7">上海</span>
                                <span class="active7">三亚</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">w</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>无锡</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">y</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span> 扬州</span>
                                <span>盐城</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">q</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>青岛</span>
                            </dd>
                        </dl>
                        <dl class="x-ta-hideguid3right clearfix">
                            <dt class="x-ta-hlTitle active9">h</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span class="active7">淮安</span>
                                <span>黄山</span>
                            </dd>
                            <dt class="x-ta-hlTitle active9">n</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>南京</span>
                                <span>南通</span>
                            </dd>
                             <dt class="x-ta-hlTitle active9">t</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>泰州</span>
                            </dd>
                             <dt class="x-ta-hlTitle active9">x</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>徐州</span>
                                <span>厦门</span>
                            </dd>
                             <dt class="x-ta-hlTitle active9">z</dt>
                            <dd class="x-ta-hlContainer clearfix">
                                <span>镇江</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="x-ta-boright">
                    <script type="text/html" id="bannerSlideData">
                        ##for(var i = 0;i<list.length;i++){##
                            ##var obj = list[i];##
                                <img src="{{obj.img}}" alt="">
                            ##}##
                    </script>
                    <div class="x-ta-slideimg" id="x-ta-slideimg">

                    </div>
                    <ul class="x-slide-indicator clearfix" id="x-slide-indicator">
                        <li class="active5">1</li>
                        <li class="">2</li>
                        <li class="">3</li>
                        <li class="">4</li>
                        <li class="">5</li>
                        <li class="">6</li>
                        <li class="">7</li>
                        <li class="">8</li>
                        <li class="">9</li>
                    </ul>
                </div>
            </div>
            <!-- Banner One End -->
            <!-- Banner Two Start -->
            <div class="x-ta-bannertwo">
                <h3 class="x-tabtwo-title clearfix"><span class="x-tabtwo-titleimg"></span><p>I Love自驾</p></h3>
                <div class="x-tatwo-msglist clearfix">
                    <script type="text/html" id="rangDrivingData">
                        ##for(var i = 0;i<list.length;i++){##
                        ##var obj = list[i];##
                            <p class="{{obj.addClass}}">{{obj.city}}</p>
                        ##}##
                    </script>
                    <div class="x-msglist-left" id="x-msglist-left">

                    </div>
                    <div class="x-msglist-right" id="x-msglist-right">
                        <script type="text/html" id="msglistrigData1">
                            <li class="x-msgrig-listTitle">
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">郑州</a></h3>
                                    <p><a href="#" title="">江南春</a></p>
                                    <p><a href="#" title="">香缇湾</a></p>
                                    <p><a href="#" title="">黄帝宫御温泉</a></p>
                                </div>
                            </li>
                            ##for(var i = 0;i<list.length;i++){##
                            ##var obj = list[i];##
                                <li class="x-msgrig-listimg">
                                    <img src="{{obj.img}}" alt="">
                                    <div class="x-msgrig-msgbox">
                                        <p class="x-magrig-imgdesc">{{obj.imgDesc}}</p>
                                        <p class="x-magrig-imgprice clearfix"><small>￥</small><strong>{{obj.imgPrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgType}}</span></p>
                                    </div>
                                </li>
                            ##}##
                        </script>
                        <ul class="x-msglistrig-list clearfix" id="x-msglistrig-list1">

                        </ul>
                        <script type="text/html" id="msglistrigData2">
                            <li class="x-msgrig-listTitle">
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">洛阳</a></h3>
                                    <p><a href="#" title="">洛阳灵山莲花水城</a></p>
                                    <p><a href="#" title="">宜阳玖玖温泉四合院</a></p>
                                </div>
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">平顶山</a></h3>
                                    <p><a href="#" title="">玉京温泉 下汤温泉</a></p>
                                    <p><a href="#" title="">昭平湖温泉</a></p>
                                </div>
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">开封</a></h3>
                                    <p><a href="#" title="">清明上河园  开封府</a></p>
                                    <p><a href="#" title="">大宋武侠城</a></p>
                                </div>
                            </li>
                            ##for(var i = 0;i<list.length;i++){##
                            ##var obj = list[i];##
                                <li class="x-msgrig-listimg">
                                    <img src="{{obj.img}}" alt="">
                                    <div class="x-msgrig-msgbox">
                                        <p class="x-magrig-imgdesc">{{obj.imgDesc}}</p>
                                        <p class="x-magrig-imgprice clearfix"><small>￥</small><strong>{{obj.imgPrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgType}}</span></p>
                                    </div>
                                </li>
                            ##}##
                        </script>
                        <ul class="x-msglistrig-list clearfix" id="x-msglistrig-list2">
                        </ul>
                        <script type="text/html" id="msglistrigData3">
                            <li class="x-msgrig-listTitle">
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">南阳</a></h3>
                                    <p><a href="#" title="">莲花温泉水城</a></p>
                                </div>
                                <div class="x-msgrig-titlebox">
                                    <h3><a href="#" title="">信阳</a></h3>
                                    <p><a href="#" title="">茗阳汤泉</a></p>
                                    <p><a href="#" title="">鸡公山依云森林温泉</a></p>
                                </div>
                            </li>
                            ##for(var i = 0;i<list.length;i++){##
                            ##var obj = list[i];##
                                <li class="x-msgrig-listimg">
                                    <img src="{{obj.img}}" alt="">
                                    <div class="x-msgrig-msgbox">
                                        <p class="x-magrig-imgdesc">{{obj.imgDesc}}</p>
                                        <p class="x-magrig-imgprice clearfix"><small>￥</small><strong>{{obj.imgPrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgType}}</span></p>
                                    </div>
                                </li>
                            ##}##
                        </script>
                        <ul class="x-msglistrig-list clearfix" id="x-msglistrig-list3">
                        </ul>
                    </div>
                </div>
            </div>
             <!-- Banner Two End -->
            <div class="x-ta-ad">
                <a href="#" title=""><img src="../images/images7/ad_1.jpg" alt="广告"></a>
            </div>
            <!-- 中间相同四块 -->
            <script type="text/html" id="mainGuildlistData">
                ##for(var i = 0;i<list.length;i++){##
                ##var obj = list[i];##
                    <div class="x-ta-guildlist">
                        <h3 class="x-tagl-title clearfix"><span class="x-tagl-titleimg x-tagtitle1"></span><p>{{obj.title}}</p></h3>
                        <ul class="x-tag-imglist clearfix">
                            <li class="x-tag-img1"><img src="{{obj.img}}" alt="指南第一块第一张"></li>
                            <li class="x-tag-img2">
                                <img src="{{obj.imgOne}}" alt="">
                                <div class="x-tag-msgbox">
                                    <p class="x-tag-imgdesc">{{obj.imgOneDesc}}</p>
                                    <p class="x-tag-imgprice clearfix"><small>￥</small><strong>{{obj.imgOnePrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgOneType}}</span></p>
                                </div>
                            </li>
                            <li class="x-tag-img2">
                                <img src="{{obj.imgTwo}}" alt="">
                                <div class="x-tag-msgbox">
                                    <p class="x-tag-imgdesc">{{obj.imgTwoDesc}}</p>
                                    <p class="x-tag-imgprice clearfix"><small>￥</small><strong>{{obj.imgTwoPrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgTwoType}}</span></p>
                                </div>
                            </li>
                            <li class="x-tag-img2">
                                <img src="{{obj.imgThree}}" alt="">
                                <div class="x-tag-msgbox">
                                    <p class="x-tag-imgdesc">{{obj.imgThreeDesc}}</p>
                                    <p class="x-tag-imgprice clearfix"><small>￥</small><strong>{{obj.imgThreePrice}}</strong><small class="x-small2">起/份</small><span>{{obj.imgThreeType}}</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                ##}##
            </script>
            <div class="x-ta-guild" id="x-ta-guild">

            </div>
            <!-- 中间相同四块 -->
            <!-- BottmSlide Start -->
            <div class="x-ta-guildlist x-ta-guildlist6">
                <h3 class="x-tagl-title  clearfix">
                    <span class="x-tagl-titleimg x-tagtitle5"></span>
                    <p>周末去哪儿</p>
                </h3>
                <script type="text/html" id="bottomSlideData">
                    ##for(var i = 0;i<list.length;i++){##
                    ##var obj = list[i];##
                        <li class="x-tag-imglistli {{obj.addClassLi}}">
                            <img src="{{obj.img}}" alt="常州">
                            <section class="{{obj.addClassSection}}"><p class="x-tag-sectiontitle">{{obj.imgTitle}}</p><hr><p class="x-tag-sectiondesc">{{obj.imgDesc}}</p></section>
                        </li>
                    ##}##
                </script>
                <ul class="x-tag-imglist clearfix" id="x-tag-imglist">
                </ul>
            </div>
            <!-- BottmSlide End -->
        </div>
        <div class="x-ta-ad2">
            <a class="x-travelAround-content" href="#" title="">
                <img src="../images/images7/tc_more.png" alt="广告">
            </a>
        </div>
        <ul class="x-ta-fixedmenu active3" id="x-ta-fixedmenu">
            <li class="active4">I Love自驾</li>
            <li>刺激滑雪季</li>
            <li>特价有惊喜</li>
            <li>浪漫二人游</li>
            <li>我是小文青</li>
            <li>周末去哪玩</li>
        </ul>
	</div>
<!-- Main End -->
<!-- footer -->
    <footer>
    	<ul class="footer container clearfix">
    		<li>
    			<div class="clearfix">
    				<div class="l-idea"></div>
    				<span class="l-idea-desc">意见反馈</span>
    			</div>
    			<div class="clearfix l-tel24">
    				<div></div>
    				<p>24小时服务热线</p>
    				<p>4007-777-777</p>
    			</div>
    		</li>
    		<!-- 关于同程 -->
    		<li>
    			<ul class="l-tcAboat">
    				<li>
    					<h2>关于同程</h2>
    				</li>
    				<li><a href="#">同程简介</a></li>
    				<li><a href="#">可信网站</a></li>
    				<li><a href="#">法律声明</a></li>
    				<li><a href="#">网站地图</a></li>
    			</ul>
    		</li>
    		<li>
    			<ul class="l-tcAboat">
    				<li>
    					<h2>加盟合作</h2>
    				</li>
    				<li><a href="#">商务合作</a></li>
    				<li><a href="#">网站加盟</a></li>
    				<li><a href="#">友情链接</a></li>
    				<li><a href="#">业务资质</a></li>
    			</ul>
    		</li>
    		<li>
    			<ul class="l-tcAboat">
    				<li>
    					<h2>联系我们</h2>
    				</li>
    				<li><a href="#">联系我们</a></li>
    				<li><a href="#">投诉建议</a></li>
    				<li><a href="#">诚聘英才</a></li>
    			</ul>
    		</li>
    		<li>
    			<ul class="l-tcAboat">
    				<li>
    					<h2>同程旗下网站</h2>
    				</li>
    				<li><a href="#" class="tcWebCn"></a></li>
    				<li><a href="#" class="tcWebCom"></a></li>
    				<li><a href="#" class="tcWebNet"></a></li>
    			</ul>
    		</li>
    		<li>
    			<ul class="l-tcAboat">
    				<li>
    					<h2>同程旅游app</h2>
    				</li>
    				<li><a href="#"><img src="../images/images1/QPSAEB.png" alt=""></a></li>
    			</ul>
    		</li>
    	</ul>
    	<hr class="container hr">
		<ul class="footer-bottom container">
			<li>服务热线：<span>4007-777-777</span></li>
			<li>转1：已有订单处理</li>
			<li>
               转2：预订 机票转<span>1</span>景点/玩乐/电影票转<span>2</span>酒店转<span>3</span>周边游转<span>4</span>
               周边游转<span>5</span>周边游转<span>6</span></li>
			<li> 转3：预订 机票转<span>1</span>景点/玩乐/电影票转<span>2</span>酒店转<span>3</span>周边游转<span>4</span></li>
		</ul>
    </footer>
<!-- 尾部结束 -->
<script type="text/javascript" src="../js/jquery/dist/jquery.min.js"></script>
<script src="../js/seajs/dist/sea-debug.js"></script>
<script src="../js/underscore/underscore.js"></script>
<script>
    seajs.config({
        base:"./"
    })
    seajs.use(['../js/travelAround.js'],function(travelAround){
        travelAround.init();
    })
</script>
</body>
</html>